<div fxLayoutAlign="center center">
  <mat-form-field fxFlex="60%">
    <input
      matInput
      type="text"
      (keyup)="buscar($event)"
      placeholder="Ingrese texto"
    />
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <ng-container matColumnDef="titulo">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Título </th>
    <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>

  <ng-container matColumnDef="completado">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Completado </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox [(ngModel)]="element.completado" [disabled]="true"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="abrirDialog('edit', element.id)">
        <mat-icon>edit</mat-icon>
      </button>
      <button  mat-icon-button (click)="eliminarTarea(element.id)" onfocus="this.blur()">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator
  #paginacion
  [pageSize]="7"
  [pageSizeOptions]="[7, 15, 20, 30]"
  aria-label="Select page"
>
</mat-paginator>

<button mat-fab id="boton-agregar" color="warn" (click)="abrirDialog('add')">
  <mat-icon>add</mat-icon>
</button>

